.button{
    width: 55px;
    padding: 20px;
    margin: 0 0.5px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row{
    margin: 3px 2px;
}

.row input{
    /* margin: 10px 0 0 1px;
padding: 6px;
width: 20px;
border-radius: 8px;
height: 22px;
border: 2px solid black; */
margin: 0;
padding: 10px 0px;
width: 230px;
border-radius: 8px;
font-size: 21px;

border: 2px solid black;
}